<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>R4zUL0NKRzWKN0sfScGrme95bFnTBMt8</string>
  <key>Domain</key>
  <string>dev-vc31s3vw.us.auth0.com</string>
</dict>
</plist>
